<h2>Main menu</h2>

<h3>Home</h3>
<p>Go to the main page, which shows the copyright message.</p>

<h3>Graph</h3>
<p>Select <b>Graph</b> to show the graph.</p>
<h4>Edit a node and add a child</h4>
<p>Right-click a node to amend its attributes. Toggle the <b>Add child</b> to add a new child.</p>
<h4>Hide and show a node</h4>
<p>Click a node to hide its children. Click it again to show its children.</p>
<h4>Delete a node</h4>
<p>Click a link to delete a node and its children.</p>

<h3>Download</h3>
<p>Select <b>Download</b> to save the graph as a JSON file and/or a simplified tree.</p>

<h3>Upload</h3>
<p>Select <b>Upload</b> to upload a graph saved as a JSON file.</p>
